@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@media(max-width:100){

}
body {
  background-image: url('./images/HeaderBG.png');
  background-size: "cover";
}

.App {
  display: flex;
  width: 770px;
  height: 220px;
  flex-direction: column;
  column-count: 2;
  justify-content: start;
  align-items: flex-start;
  gap: 20px;
}

.App-logo {
  width: 370px;
  height: 220px;
  gap: 10px;
  border-radius: 10px;
  position: flex;
}
.App-logo:hover {
  background-color: "#7593FF";
  cursor: "pointer";
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.homepage-container {
  background-image: url('./images/LosingControlBG.png');
  color: #D9D9D9;
  background-size:cover;
}

.text {
  text-align: center;
  padding-right: 40px; /* Adjust this value to create space between the image and the text */
}

.image-container {
  width: 30px;
  height: 30px;
  padding-right: 25px;
  background-size: 100% 100%; /* Scale the background image to cover the entire div */
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.homepage-description {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  gap: 20px;
}

span {
  color: #ccc;
}
a {
  color: #000;
  display: inline-block;
}

a:hover, a:hover span {
  color: #7593FF;
}

.image-container path {

  fill: #D9D9D9;
  transition: fill 0.3s ease;
}

.image-container:hover path{
  fill: #7593FF;
}

.waveform-container {
  display: flex;  
  flex-direction: row;  
  align-items: center;
  justify-content: center;
  height: 100px;  width: 100%;
  background: transparent;
}

.play-button {
  position: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  top: 25px;
  left: 20px;
  background: #EFEFEF;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 3px;
}

.play-button:hover {
  background: #DDD;
}

.menu-page {
  background-image: url('../src/images/MenuBG.png');
  background-size: cover;
}

.losing-control {
  background-image: url('../src/images/LosingControlBG.png');
  background-size:fill;
  color: #D9D9D9;
}

.about-page {
  background: url("./images/LosingControlBG.png");
}